---
layout: default
title: Blog - Tomsik68's site
---

<div id="home">
	<h2>Latest Posts</h2>
	<ul class="posts">
		{% for post in paginator.posts %}
		<li class='post'>
			<h2 class='post'><a href="{{ post.url }}">{{ post.title }}</a></h2> <span class='date'>{{ post.date | date_to_string }}</span>

			{{post.excerpt}}

			<sub>Tags: {% for cat in post.categories %}
				{{cat}}
				{% endfor %} </sub>
		</li>
		{% endfor %}

	</ul>
	<div>
		{% if paginator.previous_page %}<span style='float:left;'> <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Previous Page</a></span> {% endif %}
		{% if paginator.next_page %}<span style='float:right;'><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next Page &raquo;</a></span>{% endif %}
	</div>
</div>