<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }} | {{ site.name }}</title>
		<meta name="viewport" content="width=device-width">
		
		<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
		<!-- syntax highlighting CSS -->
		<link rel="stylesheet" href="/css/syntax.css">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="/css/theme.css">

	</head>
	<body>
		<div align='center'>
			<div class="container">
				<div class="site">
					<div class="header">
						<h1 class="title">&lt;{{site.name}}&gt;</h1>
						<div align='center'>
							{% include menu.html %}
						</div>
					</div>

					{{ content }}
					<br>
					<hr class='finaldivider' />
					<div class="footer">
						 
						<p class='copyright'>This webpage was created by Tomsik68 using a dark color scheme not to burn your eyes at night.<br>Copyright &copy; Tomsik68 2013 - 2015</p>
					</div>
				</div>
			</div>
			<!-- /container -->
		</div>
	</body>
</html>
